
{{#if scores}}
  <table class='high-scores'>
    <tr>
      <th>{{i18n "discourse_teambuild.scores.rank"}}</th>
      <th>{{i18n "discourse_teambuild.scores.user"}}</th>
      <th class="score">{{i18n "discourse_teambuild.scores.score"}}</th>
    </tr>
    {{#each scores as |s|}}
      <tr>
        <td class='rank'>
          {{s.rank}}
          {{#if s.trophy}}
            {{replace-emoji ':trophy:'}}
          {{/if}}
        </td>
        <td class='user'>
          {{#link-to 'user' s.username}}
            {{avatar s imageSize="medium"}}
            {{s.username}}
          {{/link-to}}
        </td>
        <td class='score'>{{s.score}}</td>
      </tr>
    {{/each}}
  </table>
{{else}}
  <p>{{i18n "discourse_teambuild.scores.none"}}</p>
{{/if}}
