<div class='completed-score'>
  <div class='username'>@{{progress.username}}</div>
  <div class='status'>
    {{i18n "discourse_teambuild.progress.completed"}}: {{completed.length}} / {{total}}
  </div>
</div>

<div class='all-progress'>
  <div class='goal-type'>
    <div class='description'>
      {{replace-emoji (i18n "discourse_teambuild.progress.share_meal")}}
    </div>

    <div class='progress multi-progress'>
      {{#each progress.team_members as |g|}}
        {{teambuild-goal
          goal=g
          completed=(goal-complete g completed)
          complete=(action "complete" g)
          undo=(action "undo" g)
          readonly=readonly
        }}
      {{/each}}
    </div>
  </div>

  <div class='goal-type'>
    <div class='description'>
      {{replace-emoji (i18n "discourse_teambuild.progress.activities")}}
    </div>

    <div class='progress single-goal'>
      {{#each progress.activities as |g|}}
        {{teambuild-goal
          goal=g
          completed=(goal-complete g completed)
          complete=(action "complete" g)
          undo=(action "undo" g)
          readonly=readonly
        }}
      {{/each}}
    </div>
  </div>
</div>
