<div class='completed-score'>
  <div class='username'>@{{username}}</div>
  <div class='status'>
    {{i18n "discourse_teambuild.goals.completed"}}: {{completed.length}} / {{total}}
  </div>
</div>

<div class='all-goals'>
  <div class='goal-type'>
    <div class='description'>
      {{replace-emoji (i18n "discourse_teambuild.goals.share_meal")}}
    </div>

    <div class='goals multi-goals'>
      {{#each goals.team_members as |g|}}
        {{teambuild-goal
          goal=g
          completed=(goal-complete g completed)
          complete=(action "complete" g)
          undo=(action "undo" g)
          readonly=readonly
        }}
      {{/each}}
    </div>
  </div>

  <div class='goal-type'>
    <div class='description'>
      {{replace-emoji (i18n "discourse_teambuild.goals.activities")}}
    </div>

    <div class='goals single-goal'>
      {{#each goals.activities as |g|}}
        {{teambuild-goal
          goal=g
          completed=(goal-complete g completed)
          complete=(action "complete" g)
          undo=(action "undo" g)
          readonly=readonly
        }}
      {{/each}}
    </div>
  </div>
</div>
