<div class='team-build'>
  <h1>{{i18n "discourse_teambuild.full_title"}}</h1>

  <ul class="nav nav-pills">
    {{nav-item route='teamBuild.index' label='discourse_teambuild.scores.title'}}
    {{nav-item route='teamBuild.goals' label='discourse_teambuild.goals.title'}}
    {{nav-item route='teamBuild.about' label='discourse_teambuild.about.title'}}
  </ul>

  {{outlet}}
</div>
