<div class='completed-score'>
  <div class='username'>@{{progress.user.username}}</div>
  <div class='status'>
    {{i18n "discourse_teambuild.progress.completed"}}: {{progress.completed.length}} / {{progress.total}}
  </div>
</div>

<div class='all-targets'>
  {{#each progress.teambuild_targets as |target|}}
    <div class='target-type'>
      {{#if target.group_id}}
        <div class='description'>{{replace-emoji target.name}}</div>
        <div class='target-choices multi-choice'>
          {{#each target.users as |u|}}
            {{teambuild-choice
              label=u.username
              progress=progress
              target=target
              userId=u.id
              }}
          {{/each}}
        </div>
      {{else}}
        {{teambuild-choice
          label=(replace-emoji target.name)
          progress=progress
          target=target
          userId=progress.user.id
        }}
      {{/if}}
    </div>
  {{/each}}
</div>
