{{#if this.siteSettings.teambuild_description}}
  <div class="teambuild-description">
    {{this.siteSettings.teambuild_description}}
  </div>
{{/if}}

<div class="completed-score">
  <div class="username">@{{this.progress.user.username}}</div>
  <div class="status">
    {{i18n "discourse_teambuild.progress.completed"}}:
    {{this.progress.completed.length}}
    /
    {{this.progress.total}}
  </div>
</div>

<div class="all-targets">
  {{#each this.progress.teambuild_targets as |target|}}
    <div class="target-type">
      {{#if target.group_id}}
        <div class="description">{{replace-emoji target.name}}</div>
        <div class="target-choices multi-choice">
          {{#each target.users as |u|}}
            <TeambuildChoice
              @label={{u.username}}
              @progress={{this.progress}}
              @target={{target}}
              @userId={{u.id}}
              @readOnly={{this.readOnly}}
            />
          {{/each}}
        </div>
      {{else}}
        <TeambuildChoice
          @label={{replace-emoji target.name}}
          @progress={{this.progress}}
          @target={{target}}
          @userId={{this.progress.user.id}}
          @readOnly={{this.readOnly}}
        />
      {{/if}}
    </div>
  {{else}}
    <p>{{i18n "discourse_teambuild.progress.none"}}</p>
  {{/each}}
</div>