<div class="teambuild-target {{if editing 'editing'}}">
  <div class="target-details">
    {{#if editing}}
      <div class="fields">
        <div class="target-types">
          {{#each targetTypes as |type|}}
            <label>
              <RadioButton
                @value={{type.id}}
                @selection={{buffered.target_type_id}}
                @onChange={{action (mut buffered.target_type_id) type.id}}
                class={{type.name}}
              />
              {{i18n (concat "discourse_teambuild.targets.types." type.name)}}
            </label>
          {{/each}}
        </div>

        <div class="target-name">
          <Input
            @value={{buffered.name}}
            placeholder={{i18n "discourse_teambuild.targets.name"}}
            autofocus="true"
          />
        </div>

        {{#if needsGroup}}
          <ComboBox
            @content={{groups}}
            @value={{buffered.group_id}}
            @none="discourse_teambuild.targets.choose_group"
          />
        {{/if}}
      </div>
    {{else}}
      <div class="target-name">
        {{replace-emoji target.name}}
      </div>
      <div class="target-group-name">
        {{target.group_name}}
      </div>
    {{/if}}
  </div>
  <div class="controls">
    {{#if canMoveUp}}
      <DButton @icon="arrow-up" @action={{moveUp}} />
    {{/if}}

    {{#if canMoveDown}}
      <DButton @icon="arrow-down" @action={{moveDown}} />
    {{/if}}

    {{#if editing}}
      <DButton
        @icon="check"
        @title="discourse_teambuild.targets.save"
        @action={{action "save"}}
        @disabled={{saveDisabled}}
        class="btn-primary save"
      />

      <DButton
        @icon="times"
        @action={{action "cancel"}}
        @title="discourse_teambuild.targets.cancel"
        class="btn-danger cancel"
      />
    {{else}}
      <DButton
        @icon="pencil-alt"
        @title="discourse_teambuild.targets.edit"
        @action={{action (mut editSelected) true}}
        class="edit"
      />

      <DButton
        @icon="trash-alt"
        @title="discourse_teambuild.targets.delete"
        @action={{action "destroy"}}
        class="btn-danger destroy"
      />
    {{/if}}
  </div>
</div>