<div class="teambuild-choice {{if completed "completed" "incomplete"}}">
  <div class="controls">
    {{#if readOnly}}
      {{#if completed}}
        {{d-icon "check"}}
      {{/if}}
    {{else}}
      {{#if completed}}
        {{d-button icon="check" action=(action "undo") class="btn-primary"}}
      {{else}}
        {{d-button icon="circle" action=(action "complete")}}
      {{/if}}
    {{/if}}
  </div>
  <div class="choice-label">{{label}}</div>
</div>
