<div class='goal {{if completed 'completed' 'incomplete'}}'>
  {{#if readonly}}
    {{#if completed}}
      <div class='display-done'>
        {{d-icon "check"}}
      </div>
    {{/if}}
  {{else}}
    <div class='controls'>
      {{#if completed}}
        {{d-button icon="check" action=undo class="btn-primary"}}
      {{else}}
        {{d-button icon="check" action=complete}}
      {{/if}}
    </div>
  {{/if}}
  <div class='goal-label'>{{replace-emoji goal.label}}</div>
</div>
