<div class='teambuild-target {{if editing 'editing'}}'>
  {{#if editing}}
    <div class='fields'>
      <div class='target-types'>
        {{#each targetTypes as |type|}}
          <label>
            {{radio-button
              class=type.name
              value=type.id
              selection=buffered.target_type_id
              onChange=(action (mut buffered.target_type_id) type.id)
            }}
            {{i18n (concat "discourse_teambuild.targets.types." type.name)}}
          </label>
        {{/each}}
      </div>

      <div class='target-name'>
        {{input value=buffered.name placeholder=(i18n "discourse_teambuild.targets.name") autofocus="true"}}
      </div>
    </div>
  {{else}}
    <div class='target-name'>
      {{target.name}}
    </div>
  {{/if}}
  <div class='controls'>
    {{#if editing}}
      {{d-button
        class="btn-primary save"
        icon="check"
        label="discourse_teambuild.targets.save"
        action=(action "save")
        disabled=saveDisabled
      }}

      {{d-button
        class="btn-danger cancel"
        icon="times"
        action=(action "cancel")
        label="discourse_teambuild.targets.cancel"
      }}
    {{else}}
      {{d-button
        class="edit"
        icon="pencil-alt"
        action=(action (mut editSelected) true)
      }}

      {{d-button
        class="btn-danger destroy"
        icon="trash-alt"
        action=(action "destroy")
      }}
    {{/if}}
  </div>
</div>
