<div class="teambuild-choice {{if this.completed 'completed' 'incomplete'}}">
  <div class="controls">
    {{#if this.readOnly}}
      {{#if this.completed}}
        {{d-icon "check"}}
      {{/if}}
    {{else}}
      {{#if this.completed}}
        <DButton
          @icon="check"
          @action={{action "undo"}}
          class="btn-primary"
          @title="discourse_teambuild.progress.mark_incomplete"
        />
      {{else}}
        <DButton
          @icon="circle"
          @action={{action "complete"}}
          @title="discourse_teambuild.progress.mark_complete"
        />
      {{/if}}
    {{/if}}
  </div>
  <div class="choice-label">{{this.label}}</div>
</div>